@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

#header-box {
  padding: 1.5rem 0;
  background-color: #11121b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1 {
  color: #7d5fff;
  font-size: 4rem;
}

#main-box {
  height: 100%;
  width: 100%;
  background-color: #11121b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  flex-wrap: wrap;
}

hr {
  width: 100%;
  border: 0;
  border-top: 2px solid #7d5fff;
}

.card {
  background: rgba(125, 95, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 2.5rem;
  min-width: 20rem;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.photography {
  margin-top: 1rem;
  border: solid 2px #7d5fff;
  border-radius: 2rem;
  width: 15rem;
  height: 16rem;
}

.title {
  margin: 0.9rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cd84f1;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.text {
  margin: 0.3rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  color: #c56cf0;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 20rem;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.dynamic-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #cd84f1;
  text-transform: capitalize;
}

.social {
  margin: 1rem auto 0 auto;
  text-decoration: none;
  color: #c56cf0;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
