@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:ital,wght@1,200&family=Shadows+Into+Light&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
  font-size: 10px;
  font-family: 'Shadows Into Light', cursive; 
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #9EB23B;
  display: flex;
  justify-content: center;
  align-items: center;
}


#photography {
  margin-top: 1rem;
  border-radius: 50%;
  border: solid 2px #FCF9C6;
}

#title {
  margin: 5rem 5rem 5rem 5rem;
  font-size: 5rem;
  color: #FCF9C6;
  font-weight: 200;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tipography {
  font-size: 2rem;
  color: #FCF9C6;
  font-weight: 350;
}

hr {
  margin: 1rem 0;
  opacity: .2;
}

.dynamic-text {
  font-size: 2rem;
  color: #FCF9C6;
  margin-left: 1.5rem;
  font-weight: 600;
}

.fab {
  margin-top: 1.8rem;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  filter: drop-shadow(1px 1px 1px #57657490);
}

#main-wrapper {
    background-color: #f1f1f140;
    min-width: 110rem;
    min-height: 60vh;
    padding: 3rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    border-radius: 7rem;
    box-shadow: 2px 4px 10px #57657470;
  }

  #photography {
    margin-top: 1rem;
    border-radius: 50%;
    border: solid 2px #57657470;
  }